body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 1em;
    overflow: hidden;
}

hr {
    border-top: 1px dotted #000;
}

#pleaseSignIn {
    position: absolute;
    top: 0px;
    right: 1em;
}

#logoImage {
    /* IE, only works on <img> tags */
    -ms-interpolation-mode: nearest-neighbor;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;

    display: block;
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
}