<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
    <title>davidslevs</title>
</head>
<body>
    {% include page-header.html %}
    <div class="nav-container">
        <div class="nav-bar">
            <ul>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="index.html">about</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content-container">
        <div class="page-content">
            <h1>davidslevs</h1>
            <h2>developer & musician</h2>
            <p>Heya, I'm davidslevs. I'm a programmer & musician for hire, and I have a wide range of skills across both computer science and music production.</p>
            <p>Click around, and check out some of the links to see not only my previous work, but also my current projects.</p>
            <h3>contact me</h3>
            <p><strong>petally</strong> and <strong>davidslevs</strong> on Discord<br/>
            <strong>@davidslevs</strong> on twitter and roblox</p>
        </div>
    </div>
</body>
</html>